<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>

<body>

    <div class="login-container">

        <h2>Login</h2>
        <p class="subtitle">Login in to your account to continue</p>

        <form th:action="@{/login}" method="post">

            <label>Email</label>
            <input type="text" name="username" placeholder="you@example.com">

            <label>Password</label>
            <input type="password" name="password" placeholder="••••••••">

            <button type="submit">Sign In</button>

        </form>

        <p th:text="${error}" style="color:red;"></p>

        <div class="login-footer">
            Don't have an account? <a href="#">Sign up</a>
        </div>

    </div>

</body>

</html>